<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">

  <h2 class="mb-6">Funkcje systemu:</h2>

  <div class="row feature-stamp">
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <!--- <div class="stamp bg-primary"><i class="fas fa-chalkboard-teacher fa-2x"></i></div>
        <h4 class="mt-4">Wideo: pokaż się innym!</h4> -->
        <div class="feature is-revealing">
          <div class="feature-inner">
              <div class="feature-icon">
                  <img src="https://bigbluebutton.org/wp-content/uploads/2019/09/bbb-icon-webcams.png" />
              </div>
              <h4 class="feature-title h3-mobile">Wideo: <br>pokaż się innym! </h4>
              <p class="text-sm">Udostępniaj obraz z kamery, pokaż swój pulpit, rysuj po tablicy. To zależy od Ciebie, co pokażesz swoim słuchaczom.</p>
          </div>
      </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="feature is-revealing">
    <div class="feature-inner">
        <div class="feature-icon">
            <img src="https://bigbluebutton.org/wp-content/uploads/2019/09/bbb-icon-audio.png" />
        </div>
        <h4 class="feature-title h3-mobile">Audio: <br>daj się usłyszeć!</h4>
        <p class="text-sm">Korzystaj z wysokiej jakości dźwięku o niskim opóźnieniu.</p>
    </div>
</div>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="feature is-revealing">
    <div class="feature-inner">
        <div class="feature-icon">
            <img src="https://bigbluebutton.org/wp-content/uploads/2019/09/bbb-icon-whiteboard.png" />
        </div>
        <h4 class="feature-title h3-mobile">Prezentacje: <br>powerpoint! </h4>
        <p class="text-sm">Udostępniaj prezentacje, omawiaj je slajd po slajdzie.</p>
    </div>
</div>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="feature is-revealing">
    <div class="feature-inner">
        <div class="feature-icon">
            <img src="https://bigbluebutton.org/wp-content/uploads/2019/09/bbb-icon-screensharing.png" />
        </div>
        <h4 class="feature-title h3-mobile">Udostępnianie pulpitu: <br>pokaż, co robisz!</h4>
        <p class="text-sm">Udostępnij widok z aplikacji lub przeglądarki.</p>
    </div>
</div>
    </div>
  </div>
</div>
